<div data-role="view" data-title="view" data-layout="main" data-model="app.reporteCC" data-show="app.reporteCC.onShow" data-after-show="app.reporteCC.afterShow" id="reporteCCScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <i class='fa fa-wrench' aria-hidden='true'></i>  <span data-bind="text: strings.reporteControlCalidad.title" style="font-weight:bold"></span>
            <h1><b><span id="NoOrdenCC" class="km-view-subtitle"></span></b></h1>
            <!--<span data-bind="text: strings.reporte1.title" style="font-weight:bold"></span>-->
            <!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>-->
            <a data-align="right" class="fa fa-reply" onclick="volverCC()" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div id="dialogfirmaDigitalOTCC"></div>
                <div id="dialogfirmaOTCCA"></div>
    <div scrool>
        <div class="container">
            <div class="form-group">
                <!-- <div id="dialogfirmaDigitalOTCC"></div>
                <div id="dialogfirmaOTCCA"></div> -->
                <div id="tabstripCC" style="display: block">
                    <ul>
                        <li id="liVideoRCC" style="display:initial">
                            <label style="display:none">VI</label>
                            <i id="l1" class="fa fa-play-circle-o fa-lg" aria-hidden="true" title="Formulario Control de Calidad"></i>
                        </li>
                        <li id="liDatosRCC" style="display:initial">
                            <label style="display:none">FI</label>
                            <i id="l2" class="fa fa-book" aria-hidden="true" title="Datos OT"></i>
                        </li>
                        <li id="liActividadesRCC" style="display:initial">
                            <label style="display:none">FI</label>
                            <i id="l3" class="fa fa-bars" aria-hidden="true" title="Actividades"></i>
                        </li>
                        <li id="liDetalleRCC" style="display:initial">
                            <label style="display:none">FI</label>
                            <i id="l4" class="fa fa-calendar-check-o" aria-hidden="true" title="Detalle OT"></i>
                        </li>
                        <li id="liFirmaASRCC" style="display:initial">
                            <label style="display:none">FI</label>
                            <i id="l5" class="fa fa-pencil-square-o fa-lg" aria-hidden="true" title="Firma"></i>
                        </li>
                    </ul>
                    <div>
                        <p>
                            <legend id="lydControlCalidad0" style="min-width:667px;">FORMULARIO CONTROL DE CALIDAD</legend>
                        </p>
                        <!-- align="center" width="95%" -->
                        <table>

                            <tr>
                                <td>
                                    <div id="descSMS_1RCC"></div>
                                </td>
                            </tr>
                    
                        </table>
                        <p>
                            <label class="w3-text-red">
                                <b>
                                    Observacion
                                </b>
                            </label>
                            <textarea name="observacionCC" rows="2" cols="30" id="observacionCC" data-bind="value: observacionCC" placeholder="Observacion Control Calidad" class="w3-input w3-border textos" maxlength="300"></textarea>
                        </p>
                        <br/>
                    </div>
                    <div>
                        <p>
                            <legend id="lydControlCalidad1" style="min-width:667px;">DATOS DE OT</legend>
                        </p>
                        <table border="0" width="100%">
                            <tr>
                                <td>&nbsp;&nbsp;<label></label></td>
                                <td>&nbsp;&nbsp;<label></label></td>
                                <td>
                                    <div id="datosOTCC"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <p>
                            <legend id="lydControlCalidad2" style="min-width:667px;">ACTIVIDADES</legend>
                        </p>
                        <table border="0" width="100%">
                            <tr>
                                <td>&nbsp;&nbsp;<label></label></td>
                                <td>&nbsp;&nbsp;<label></label></td>
                                <td>
                                    <div id="actividadesOTCC"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <p>
                            <legend id="lydControlCalidad3" style="min-width:667px;">DETALLE DE OT</legend>
                        </p>
                        <table align="center" border="0">
                            <tr>
                                <td>&nbsp;&nbsp;<label></label></td>
                                <td>&nbsp;&nbsp;<label></label></td>
                                <td>
                                    <div id="detalleOTMIO"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <p>
                            <legend id="lydControlCalidad4" style="min-width:667px;">FIRMA</legend>
                        </p>
                        <!--FIRMA DIGITAL ASESOR------------------------------------------------------->
                        <br />
                        <p>
                        <div id="titFirmaPregCCA"></div>  <center><button id="confirmFirmaOTCCA0" class="w3-btn">SI</button> &nbsp; <button id="confirmFirmaOTCCA1" class="w3-btn">NO</button>  </center>
                        </p>
                        <table align="center" border="0">
                            <tr>
                                <td>
                                    <div id="imgFirmaOTCCACC"></div>
                                </td>
                            </tr>
                        </table>
                        <input id="firmaOTCCA" type="hidden" value="" />
                        <input id="firmaGrafCCA" type="hidden" value="" />
                        <!--FIRMA DIGITAL-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer data-role="footer"> 
        <table width="100%">
            <tr>
                <td align="center">
                    <div id="btnFooterCC"></div>
                </td>
            </tr>
        </table>
    </footer>
    <!-- END_CUSTOM_CODE_home -->
</div>

<style>
    .circulo {
     width: 50px;
     height: 50px;
     -moz-border-radius: 25%;
     -webkit-border-radius: 25%;
     border-radius: 25%;
     background: #5cb85c;
}
.radio {
    display: none;
}
.red {
    color: red;
}
.blue {
    color: rgba(84, 139, 0, 0.89);
}
</style>
<!-- <style>
    div .k-content .k-state-active {
    min-width: 90%;
}

.k-content {
    width: unset !important;
}

.k-tabstrip .k-content.k-state-active {
   height: 100vh !important;
}
</style> -->